<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home app</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css') }}">
</head>

<body>

     <h1>Bienvenido(a), {{ username }}</h1>
     <h2></h2>
     <h3><img src="https://elcomercio.pe/resizer/7McRv_QdVhhAtH-N96Re0N9ntDk=/580x330/smart/filters:format(jpeg):quality(75)/cloudfront-us-east-1.images.arcpublishing.com/elcomercio/YLDSXG2SRBAEHPMJOIB6B6MIIQ.jpg"></h3>
     <h4>Sugerencias que te podrian interesar, {{ username }}</h4>

     <hr>
</body>

</html>